h1,
h2 {
    font-size: 2.8rem;
}

p {
    font-size: 1.8rem;
    padding: 15px;
}

button {
    width: 180px;
    margin-left: 15px;
}
.header-logo--section {
    height: 275px;
    background-image: url(../images/bg-header-desktop.png);
}

.section--description,
.section--conten {
    width: 70%;
}

.section-content--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section--content {
    width: 45%;
    text-align: left;
}

.section--content p {
    font-size: 1.4rem;
}

.image-computer, 
.image-devices {
    width: 650px;
}

.image-computer {
    position: relative;
    left: -30px;
}

.second-sectionContent--container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-sectionContent--container .section--content {
    text-align: center;
}