* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    /* Primary Colors */
    --Strong-cyan: hsl(171, 66%, 44%);
    --Light-blue: hsl(233, 100%, 69%);

    /* Neutral colors */
    --Dark-grayishBlue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1,
h2,
h3 {
    color: var(--Dark-grayishBlue);
    padding: 10px;
}

h1,
h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
}
/* Header section */
header {
    width: 100%;
    margin-bottom: 50px;
}

.header-logo--section {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;
    background-image: url(../images/bg-header-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-logo--container {
    width: 95px;
}

img {
    width: 100%;
}

.header-content--container,
.buttons--container {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

button {
    min-width: 275px;
    height: 40px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    color: white;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.ios-button {
    background-color: var(--Strong-cyan);
}

.mac-button {
    background-color: var(--Light-blue);
}
/* End header section */

/* Main section */
main {
    width: 100%;
    margin-bottom: 150px;
}

.first-section,
.second-section {
    margin-bottom: 50px;
}

.section--description,
.section--content,
.third-section,
.four-section {
    width: 90%;
    margin: 25px auto;
    text-align: center;
}

.image-computer,
.image-devices {
    width: 280px;
    margin: 0 auto;
}

.icon-section {
    width: 60px;
    margin: 80px auto 25px;
}

.third-section figure {
    width: 95px;
    padding: 5px;
    margin: 35px auto;
}

.third-section figure:first-child {
    width: 125px;
}
/* Footer section */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }